h1 {
    font-size: 23px;
    font-weight: 500;
}

button {
    width: auto;
    height: 30px !important;
}

li {
    margin-top: 5px;
    padding-right: 5px;
    padding-left: 5px;
    border-radius: 5px;
}

input[type="checkbox"] {
    margin-left: 5px !important;
    transform: scale(1.3)
}

li.checked {
    text-decoration: line-through;
}

#todolist li {
    font-size: 18px;
    display: flex;
    align-items: center;
    gap: 8px;
    background-color: rgba(203, 235, 255, 0.55);
    transition: transform 600ms ease !important;
}

:root {
    --bg-color: white;
    --text-color: black;
}

@media (prefers-color-scheme: dark) {
    :root {
        --bg-color: #121212;
        --text-color: #121212;
    }

    li {
        color: #121212;
    }
}

html {
    background-color: var(--bg-color);
    color: var(--text-color);
    transition: background-color 0.3s, color 0.3s;
}

.todo-item {
    opacity: 0;
    transform: translateY(-10px);
    transition: opacity 0.3s ease, transform 0.3s ease;
}

.todo-item.visible {
    opacity: 1;
    transform: translateY(0);
}